.statistics{
  height: 530px;
  background-color: white;
}
.statistics__banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin: 100px auto;

}
.statistic__banner-title{
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  color: black;
  margin-bottom: 100px;
  text-align: center;

}
.statistic__banner-stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;

}
.statistics__stats-section1,
.statistics__stats-section2,
.statistics__stats-section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.statistics__stats-section1::before {
  content: "";
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background-color: #FB3B64;
}

.statistics__stats-numbers{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 6px;
  color: black;
  margin-top: 15px;
  margin-bottom: 20px;
}

.statistics__stats-text{
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  color: #A5A5A5;
}